/* Style for the loading spinner in the build page */
#dfu-bootloader-loading {
  display: none;
  text-align: center;
}
#dfu-process-loading {
  display: none;
  text-align: center;
}
/* Style for the loading spinner in the tcpftp page */
#tcpftp-loading {
  display: none;
  text-align: center;
  margin-top: 20px;
}
#tcpftp-loading img {
  width: 50px;
}
#tcpftp-result {
  display: none;
}

/* Ensure the progress list stays visible in the tcpftp page */
#tcpftp-progress-list {
  display: block;
  list-style-type: none;
  padding: 0;
}

#tcpftp-progress-list li {
  font-size: 14px;
}

/* Style for the loading spinner in the build page */
#build-loading {
  display: none;
  text-align: center;
  margin-top: 20px;
}
#build-loading img {
  width: 50px;
}
#build-result {
  display: none;
}

/* Ensure the progress list stays visible in the build page */
#build-progress-list {
  display: block;
  list-style-type: none;
  padding: 0;
}

#build-progress-list li {
  font-size: 14px;
}

.fa-check-circle {
  color: #0b9b0b;
}
.mt-customize {
  margin-top: 6em;
}

/* Make tabs full width */
.nav-tabs {
  display: flex;
  width: 100%;
  /* border-bottom: 2px solid #007bff; */
}
.nav-tabs .nav-item {
  flex: 1; /* Make each tab take up equal space */
  text-align: center;
  padding-inline: 2px;
}
.nav-tabs .nav-link {
  width: 100%;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0;
  padding: 10px 0;
  font-weight: bold;
}
.nav-tabs .nav-link:hover {
  background-color: #1c64d1;
}
.nav-tabs .nav-link.active {
  background-color: #034fc0;
  color: white;
}
.tab-content {
  background: #ffffff;
  /* border: 1px solid #007bff; */
  border-top: none;
  padding: 16px;
}

/* Make tabs responsive */
@media (max-width: 767px) {
  .nav-tabs .nav-item {
    text-align: left; /* Align text to the left on small screens */
  }
}

.cont {
  columns: 3;
  column-gap: 5px;
}
.cont > div {
  background: #c1c1ff;
  margin-bottom: 5px;
  break-inside: avoid;
}
