<table class="table table-bordered board-table border-black">
  <thead class="text-center">
    <th>Index</th>
    <th>Label</th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Ethernet port</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Micro SD card slot</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Programming USB</td>
    </tr>
    <tr>
      <td>4</td>
      <td>USB DFU 1</td>
    </tr>
    <tr>
      <td>5</td>
      <td>HMI DVI Connector</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Digital Output Voltage Select</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Boot Mode Select Switches</td>
    </tr>
    <tr>
      <td>8</td>
      <td>USB DFU 2</td>
    </tr>
    <tr>
      <td>9</td>
      <td>SWD Connector 1</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Current Output Channel 1</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Current Output Channel 2</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Power Connector</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Power Button</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Cellular Antenna</td>
    </tr>
    <tr>
      <td>15</td>
      <td>LoRa Antenna</td>
    </tr>
    <tr>
      <td>16</td>
      <td>GPS Antenna</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Line Pressure</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Casing Pressure</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Tubing Pressure</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Analog Input</td>
    </tr>
    <tr>
      <td>21</td>
      <td>B Valve</td>
    </tr>
    <tr>
      <td>22</td>
      <td>A Valve</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Arrival Sensor</td>
    </tr>
    <tr>
      <td>24</td>
      <td>RS 232 Port</td>
    </tr>
    <tr>
      <td>25</td>
      <td>RS 485 Slave</td>
    </tr>
    <tr>
      <td>26</td>
      <td>RS 485 Master</td>
    </tr>
    <tr>
      <td>27</td>
      <td>SWD Connector 2</td>
    </tr>
  </tbody>
</table>
