{% extends 'index.html' %} {% block content %}
<!---------------------------------------- DFU Tab ---------------------------------------->
<div
  class="container mt-customize d-flex flex-column justify-content-center align-items-center"
>
  <div class="row w-100">
    <div class="col-md-6 mx-auto">
      <div class="card p-4 border border-primary gap-4">
        <button class="btn btn-primary" onclick="SerialCom()">
          Set to bootloader
        </button>
        <button class="btn btn-primary" onclick="connectWithUSB()">
          DFU Process
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
